.cart{
    
    padding-top: 50px;
}

.cart h1{
    text-align: center;
}

.item{
    border: 2px solid;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_img{
    width: 20%;
}
.item_img img{ 
    width: 100%;
    object-fit: contain;
}

.item_content h1{
    font-size: 18px;
}

.ClearCart{
    padding: 10px 20px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 8px;
    margin: 10px 0px;
    cursor: pointer;
}